<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Netflix Recommendation System</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
	
</head>
<body>
	<div>
	<h1><mark>Netflix Recommendation System</mark></h1>
	
		<p1><span>ENTER A TV-SHOW/MOVIE NAME THAT YOU JUST WATCHED</span></p1>
		
			
			<form name="passdata" action="/about" method="post">
			<input type="text"	 name="moviename">
			<input type="submit" value="submit">
	</div>
</form>
</body>
</html>